.cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0;
  border-bottom: 4px solid var(--cor-cinza-escuro);
  background-color: var(--cor-bege);

  position: sticky;
  top: 0;
  z-index: 10;
}

.logo img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.navegacao {
  display: flex;
  gap: 20px;
}

.navegacao a {
  font-family: var(--fonte-texto);
  font-size: 15px;
  color: var(--cor-marrom);
  text-decoration: none;
}

.navegacao a:hover {
  color: var(--cor-verde-oliva);
  text-decoration: underline;
}

@media (max-width: 768px) {
  .cabecalho {
    flex-direction: column;
    padding: 12px 20px;
  }

  .logo img {
    height: 80px;
    width: 80px;
  }

  .navegacao {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }

  .navegacao a {
    font-size: 14px;
  }
}
