* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--fonte-texto);
  color: var(--cor-verde-oliva);
  background: var(--cor-bege);

  line-height: 1.7;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 16px;
}
