.btn {
  background-color: var(--cor-marrom);
  color: var(--cor-bege);
  font-size: 14px;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
}

.btn:hover {
  background: var(--cor-verde-oliva);
}