.btn {
  background-color: var(--cor-marrom);
  color: var(--cor-bege);
  font-size: 14px;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
}

/* .contato button {
  align-self: center;
  padding: 14px 36px;
  border: none;
  border-radius: 8px;
  background: var(--cor-marrom);
  color: var(--cor-bege);
  cursor: pointer;
  transition: .3s;
} */

.btn:hover {
  background: var(--cor-verde-oliva);
}